.themeToggle {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 30px;
  border-radius: 7px;
  font-size: 12px;
}

.todoList {
  display: flex;
  position: relative ;
  flex-direction: column;
  align-items: center;

  table {
    thead {
      tr {
        display: flex;
        justify-content: space-around;
      }
    }
    width: 90%;
    list-style-type: disc;
    padding: 5px;
    margin: 10px;
    
    tr {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      // justify-content: space-between;
      // align-items: center;
      .doneButton {
        margin: 10px;
      }
    }
    .done {
      text-decoration: line-through;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.paginator {
  width: 300px;
}

.form {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  .select {
    border-radius: 7px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 30px;
    width: 150px;
    
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      height: 100%;
      width: 33.33%;
      
      &:hover {
        filter: brightness(130%);
      }
    }
  }
}

