.dark {
  background-color: hsl(83, 22%, 14%);
  input {
    background-color: grey;
    color: #2e3b36;
    &::placeholder{
      color: #2e3b36;
    }
  }
  .themeToggle {
    background-color: grey;
    border: thin rgb(114, 114, 114) solid;
    
  }
}

.themeToggle {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 30px;
  border-radius: 7px;
  border: thin grey solid;
  background-color: rgb(62, 80, 68);
  font-size: 12px;
  &:hover {
    filter: brightness(130%)
  }
}

.todoList {
  display: flex;
  position: relative ;
  height: 500px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 207, 207);
  color: white;

  ul {
    width: 90%;
    list-style-type: disc;
    padding: 5px;
    
    li {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      // justify-content: space-between;
      // align-items: center;
      .doneButton {
        margin: 10px;
        color: navy;
      }
    }
    .done {
      filter: brightness(60%);
      text-decoration: line-through;
    }
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
  background-color: rgb(207, 207, 207);
  color: white;
  width: 100%;
}

.form {
  input {

    color: rgb(46, 59, 54);
  }
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  .select {
    border-radius: 7px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color: rgb(62, 80, 68);
    border: 1px grey solid;
    
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      height: 100%;
      width: 33.33%;
      color: white;
      background-color: rgb(62, 80, 68);
      
      &:hover {
        filter: brightness(130%);
      }
    }
    .selected {
      background-color: rgba(164, 165, 105, 0.822);
  
    }
  }
}

.dark {
  background-color: hsl(83, 22%, 14%);
}


p {
  color: white;
}
