* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(57, 59, 45);
  // border: thin red solid;
  box-sizing: border-box;
}

#root {
  border: none;
  margin: none;
  padding: none;
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
}