* {
  font-family: Arial, Helvetica, sans-serif;

  // border: thin red solid;
  box-sizing: border-box;

}

.dark {
  background-image: none;
  background-color: hsl(225, 22%, 14%);
}

#root {
  border: none;
  margin: none;
  padding: none;
  background-color: rgb(63, 65, 63);
  display: flex;
  justify-content: center;
}